.card {
  /* display: flex; */
  /* position: relative; */
  /* flex-direction: column; */
  /* height: 350px; */
  /* width: 400px; */
  /* min-width: 250px; */
  /* padding: 1.5rem; */

  /* border-radius: 16px; */
  /* background: #17141d; */
  box-shadow: -1rem 0 3rem #000;

  /* transition: 0.2s; */
}

.card:hover {
  /* transform: translateY(-1rem); */
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/General_sibling_combinator */
.card:hover ~ .card {
  transform: translateX(130px);
}

.card:not(:first-child) {
  /* margin-left: -130px; */
}

.card:hover p {
  /* background: linear-gradient(90deg, #ff8a00, #e52e71); */
  /* text-shadow: none; */
  /* background-clip: text; */
  /* -webkit-background-clip: text; */
  /* -webkit-text-fill-color: transparent; */
}

.card-author {
  /* position: relative; */
  /* display: grid; */
  grid-template-columns: 75px 1fr;
  /* align-items: center; */
  /* margin: 3rem 0 0; */
}

svg {
  /* position: absolute; */
  /* bottom: 0; */
  /* left: 0; */
  width: 60px;
  /* height: 48px; */
  /* fill: none; */
  /* stroke: #ff8a00; */
  stroke-width: 8;
  stroke-linecap: round;
  /* pointer-events: none; */
}
